# requirements.txt
# REPOSITORY:
#   https://github.com/DavidJLambert/beautifulSoup
#
# SUMMARY:
#   Downloads crossword puzzle pdf files from www.puzzlesociety.com.
#
# VERSION:
#   0.5.2
#
# AUTHOR:
#   David J. Lambert
#
# DATE:
#   May 31, 2019

beautifulsoup4
requests
lxml
